django==2.1.4
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
django-cors-headers==2.3.0
django-filter==2.0.0
mysqlclient==1.3.13
XlsxWriter==1.1.8
openpyxl==2.6.2
pytz==2018.9
########## Windows上インストール時の注意事項 ##########
# ■mysqlclientインストール失敗の場合
# ./ebusiness/data/mysqlclient-1.3.13-cp36-cp36m-win_amd64.whl をインストールしてください。
#######################################################
