django==2.2.13
django-filter==2.2.0
djangorestframework==3.10.0
djangorestframework-gis==0.14
django-cors-headers==3.0.2
drf-extensions==0.5.0
psycopg2==2.8.3
mysqlclient==1.4.2
djongo==1.2.33
# djongoを利用時、sqlparse==0.2.4が必要、最新の0.3.0だとエラーになる
sqlparse==0.2.4
ipython==7.6.1