django==3.2.6
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
django-cors-headers==3.7.0
django-filter==2.4.0
django-admin-sortable==2.2.4
drf-extensions==0.7.1
mysqlclient==2.0.3
pillow==8.3.1
pdf2image==1.16.0